#!/usr/bin/env python
PACKAGE = "dynamic_reconfig"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("In_Plane_Assumption",  bool_t, 0, "Assume the Segmented AE Point is in the Mid-plane of the Ultrasound", False ) 
gen.add("Enable_Tracking",      bool_t, 0, "Enable the Tracking Functionality of the Robot",                      False )

exit(gen.generate(PACKAGE, "dynamic_reconfig", "ultrasound_ur5"))
