<robot
  name="Robotiq_Sensor_FT_150">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00488219806659017 -0.0231670070644895 -0.000115077525975578"
        rpy="0 0 0" />
      <mass
        value="0.401516952346595" />
      <inertia
        ixx="0.000444366413738052"
        ixy="3.10223375121681E-06"
        ixz="-2.37931602812798E-05"
        iyy="0.000904753267135545"
        iyz="-4.25153794452775E-06"
        izz="0.000569740867968783" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robotiq_Sensor_FT_150/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Robotiq_Sensor_FT_150/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>