<launch>
	<!-- upload urdf -->
	<!-- group ns="ur5_arm" -->

		<arg name="gui" default="True" />

		<!-- param name="robot_id" value="0" /-->
		<!-- param name="tf_prefix" type="string" value="robot_0" /-->

		<param name="robot_description" textfile="$(find sensor_description)/urdf/ur5_eef.urdf" />
		<param name="use_gui" value="$(arg gui)" />

		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sensor_description)/urdf.rviz" required="true" />

		<!-- node pkg="tf" type="static_transform_publisher" name="world_robot_base_broadcaster" args="0 0 0 0 0 0 /world /base_link 100" /-->
		<!-- /group -->

	<!-- node pkg="tf" type="static_transform_publisher" name="world_robot_base_broadcaster" args="0 0 0 0 0 0 /world /base_link 100" / -->

</launch>
