<launch>
	<!-- upload urdf -->


	<group ns="ur5_1" >

		<arg name="gui" default="True" />

		<param name="robot_id" value="0" />
		<param name="tf_prefix" type="string" value="ur5_1" />
		
		<param name="robot_description" textfile="$(find sensor_description)/urdf/ur5_eef.urdf" />

		<include file="$(find sensor_description)/launch/sensor_rviz.launch" />

	</group>

	<node pkg="tf" type="static_transform_publisher" name="world_robot1_base_broadcaster" args="0 0 0 0 0 0 /world /ur5_1/world 100" />

	<group ns="ur5_2">

		<arg name="gui" default="True" />

		<param name="robot_id" value="1" />
		<param name="tf_prefix" type="string" value="ur5_2" />

		<param name="robot_description" textfile="$(find sensor_description)/urdf/ur5_eef.urdf" />

		<include file="$(find sensor_description)/launch/sensor_rviz.launch" />

	</group>

	<node if="true" pkg="tf" type="static_transform_publisher" name="world_robot2_base_broadcaster" args="0 1.5 0 0 0 0 /world /ur5_2/world 100" />

	
	<param name="robot_description" textfile="$(find phantom_description)/urdf/phantom.urdf" />
	<node pkg="tf" type="static_transform_publisher" name="world_phantom_base_broadcaster" args="0 0.75 0 0 0 0 /world /phantom_base_link 100" />

	<node if="false" name="rviz" pkg="rviz" type="rviz" />

	<node if="true" name="rviz" pkg="rviz" type="rviz" args="-d $(find sensor_description)/urdf.rviz" required="true" />

</launch>