<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find ur5_control)/urdf/ur5_robot.urdf" />
  <param name="robot_description" textfile="$(arg model)" />
  
  <node
      name="robot_state_publisher" 
      pkg="robot_state_publisher" 
      type="robot_state_publisher" 
      output="screen" >
  </node>
  
  <node 
      pkg="ur5_control" 
      type="trajectory"
      name="trajectory"  
      output="screen" >
  </node>
  
  <node
      name="rviz" 
      pkg="rviz"
      type="rviz"
      args="-d $(find ur5_control)/ur5_control.rviz" required="true" >
  </node>
  
</launch>
